
/* ======= Media Queries Starts Here ============ */


/* =======> For laptop <========= */

@media only screen and (min-width:700px) and (max-width:1080px) {
    .players-container{
        grid-template-columns: repeat(2, 1fr);
    }

    #highlights-container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    #highlights-container img{
        width: 100%;
    }
    .blogs{
        grid-template-columns: repeat(2, 300px);
    }

  .header-container {
    width: 90%;
  }
  .nav--links {
    display: none;
  }
  
  .main-menu {
    padding: 20px 0;
  }
  .toggle-bar {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 34px;
    margin: 20px 0 -10px;
  }

  .hero-container {
    width: 90%;
  }
  .hero--area {
    flex-direction: column;
    align-content: center;
    align-items: flex-end;

    padding: 40px 0 60px;
  }

  .hero--banner img {
    margin-top: 50px;
  }
}


/* =========== For Mobile/SmartPhone=========== */
@media only screen and (max-width:688px) {


  .header-container {
    width: 90%;
  }
  .nav--links {
    display: none;
  }
  .main-menu {
    padding: 20px 0;
  }
  .toggle-bar {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 34px;
    margin: 20px 0 -10px;
  }

  .hero-container {
    width: 90%;
  }
  .hero--area {
    flex-direction: column;
    padding: 40px 0 60px;
  }
  .hero--content {
    padding-right: 30px;
  }
  .hero--content h1 {
    font-size: 36px;
    line-height: 50px;
  }
  .hero--banner img {
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }

    .players-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .highlights-info{
        width: 329px;
    height: 299px;
    }
    #highlights-container{
        flex-direction: column;
        align-items: center;
    }
    .highlight-img{
        width: 328px;
        height: 248px;
        align-items: center;
        margin-top: 0;
        overflow: hidden;
    }
    .highlight-img img{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .highlights-info h1{
        font-size: 30px;
    }
    .blogs{
        grid-template-columns: repeat(1, 300px);
        
    }
    .blog{
        margin-top: 20px;
    }
}